.cart-qty{
    border: 1px solid #333;
    /* padding: 0 5px; */
}

.cart_col{
    display: flex;
    align-items: center;
}

.cart_col input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: none;
    background-color: transparent;
    text-align: center;
    width: 50%;
  }
   
.cart_col input[type=number]::-webkit-inner-spin-button, 
.cart_col input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}